{% load static %}
{% load sass_tags %}

<!doctype html>
<html>
	<head>
		<title>{% block title %}{% endblock %} | ORACLE of Blair</title>
		<meta name="description" content="The ORACLE (Overall Results of an Analytical Consideration of the Looming Elections) of Blair is a senior class project at Montgomery Blair High School with the goal of modeling the 2020 presedential election."/>
		<meta property="og:title" content="ORACLE of Blair"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="https://beta.polistat.mbhs.edu/"/>
		<meta property="og:image" content="https://beta.polistat.mbhs.edu/static/core/image/school.png"/>
		<meta property="og:description" content="The ORACLE (Overall Results of an Analytical Consideration of the Looming Elections) of Blair is a senior class project at Montgomery Blair High School with the goal of modeling the 2020 presedential election."/>
		<link rel="icon" type="image/png" href="{% static 'favicon.png' %}"/>
		<link rel="stylesheet" href="{% sass_src 'core/css/style.scss' %}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous"/>
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous"
		    onload="renderMathInElement(document.body);"></script>
	</head>
	<body class="{% block bodycolor %}{% endblock %}">
		<nav>
			<ul class="desktop">
				<li class="nav-logo"><a href="/"><img src="{% static 'core/image/nav.svg' %}"></a></li>
				<li class="{% if request.path == '/' %}active{% endif %}"><a href="/">Home</a></li>
				<li class="{% if request.path == '/methodology/' %}active{% endif %}"><a href="/methodology">Methodology</a></li>
				<!--<li class="{% if request.path == '/blog' %}active{% endif %}"><a href="/blog">Blog</a></li>-->
				<li><a href="https://2018.polistat.mbhs.edu">2018 Model</a></li>
				<li><a href="https://twitter.com/ORACLE_of_Blair">
					<object width=45 height=45 type="image/svg+xml" class="twitter" data="{% static 'core/image/twitter.svg' %}"></object>
				</a></li>
				<li class="hamburger" onclick="toggleNav()"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.66667 13.3333C5.75 13.3333 5 12.5833 5 11.6667C5 10.75 5.75 10 6.66667 10H33.3333C34.25 10 35 10.75 35 11.6667C35 12.5833 34.25 13.3333 33.3333 13.3333H6.66667ZM6.66667 21.6666H33.3333C34.25 21.6666 35 20.9166 35 20C35 19.0833 34.25 18.3333 33.3333 18.3333H6.66667C5.75 18.3333 5 19.0833 5 20C5 20.9166 5.75 21.6666 6.66667 21.6666ZM6.66667 30H33.3333C34.25 30 35 29.25 35 28.3334C35 27.4167 34.25 26.6667 33.3333 26.6667H6.66667C5.75 26.6667 5 27.4167 5 28.3334C5 29.25 5.75 30 6.66667 30Z" fill="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="5" y1="19.9471" x2="35" y2="19.9471" gradientUnits="userSpaceOnUse">
							<stop stop-color="#1B6CE5"/>
							<stop offset="1" stop-color="#FF2E2E"/>
						</linearGradient>
					</defs>
				</svg></li>
			</ul>
			<div class="mobile-nav">
				<header>
					<h2>Menu</h2>
					<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="toggleNav()">
						<path d="M21.5002 0.516594C21.1888 0.204506 20.7661 0.0291178 20.3252 0.0291178C19.8843 0.0291178 19.4616 0.204506 19.1502 0.516594L11.0002 8.64993L2.8502 0.499927C2.53881 0.187839 2.11606 0.0124512 1.6752 0.0124512C1.23433 0.0124512 0.811581 0.187839 0.500195 0.499927C-0.149805 1.14993 -0.149805 2.19993 0.500195 2.84993L8.6502 10.9999L0.500195 19.1499C-0.149805 19.7999 -0.149805 20.8499 0.500195 21.4999C1.1502 22.1499 2.2002 22.1499 2.8502 21.4999L11.0002 13.3499L19.1502 21.4999C19.8002 22.1499 20.8502 22.1499 21.5002 21.4999C22.1502 20.8499 22.1502 19.7999 21.5002 19.1499L13.3502 10.9999L21.5002 2.84993C22.1335 2.21659 22.1335 1.14993 21.5002 0.516594Z" fill="url(#paint0_linear)"/>
						<defs>
							<linearGradient id="paint0_linear" x1="0.0126953" y1="10.9418" x2="21.9877" y2="10.9418" gradientUnits="userSpaceOnUse">
								<stop stop-color="#1B6CE5"/>
								<stop offset="1" stop-color="#FF2E2E"/>
							</linearGradient>
						</defs>
					</svg>
				</header>
				<ul class="mobile">
					<li class="{% if request.path == '/' %}active{% endif %}"><a href="/">Home</a></li>
					<li class="{% if request.path == '/methodology/' %}active{% endif %}"><a href="/methodology">Methodology</a></li>
					<!--<li class="{% if request.path == '/blog/' %}active{% endif %}"><a href="/blog">Blog</a></li>-->
					<li><a href="https://2018.polistat.mbhs.edu">2018 Model</a></li>
					<li><a href="https://twitter.com/ORACLE_of_Blair">Connect <object type="image/svg+xml" class="twitter" data="{% static 'core/image/twitter.svg' %}"></object></a></li>
				</ul>
				{% include 'core/stateselect.html' %}
				<img src="{% static 'core/image/logo.svg' %}">
			</div>
		</nav>
		<main>
			<div class="sidebar">{% include "core/sidebar.html" %}</div>
			<script src="https://d3js.org/d3.v6.min.js"></script>
			<div class="content">
				{% block content %}
				{% endblock %}
			</div>
			<div class="footer">{% include "core/footer.html" %}</div>
		</main>
		<script src="{% static 'core/js/util.js' %}"></script>
	</body>
</html>
