{% extends 'core/base.html' %}

{% block title %}Blog{% endblock %}


{% block content %}
<h1>ORACLE Blog</h1>
<hr>
{% if blogposts %}
	{% for post in blogposts|dictsortreversed:"timestamp" %}
	<div class="poll blogindexentry">
		<div class="poll-info blog-info"><a href="{% url 'core:blog' post.slug %}">{{ post.title }}</a><span><span class="poll-date blog-date" style="font-size:20px">{{ post.timestamp }}</span> </span></div>
		<div class="poll-results blog-description">
			<span style="white-space: normal">{{post.description}}</span>
		</div>
	</div>
	{% endfor %}
{% else %}
<p>There are no blogposts at this time.</p>
{% endif %}
{% endblock %}
