<h1>Presidential Election Model <span>2020</span></h1>
<div class="footer-columns">
	<div>
		<h3>About Us</h3>
		<p>ORACLE of Blair is a project by seniors at Montgomery Blair High School in Silver Spring, Maryland. It was created during the Fall 2020 Political Statistics course taught by Mr. David Stein. Questions for the students about the model can be sent to mbhs.polistat@gmail.com, while Mr. Stein can be reached directly through the Blair website.</p>
	</div>
	<div>
		<h3>Please Note</h3>
		<p>Any views or opinions expressed on this site are those of the students in Montgomery Blair High School's 2020 Political Statistics class and do not necessarily reflect the official position of Montgomery Blair High School.</p>
	</div>
</div>
