{% extends 'core/base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 class="model-header"><span class="{% if prediction.dem_win > prediction.rep_win %}blue{% else %}red{% endif %}">{% if prediction.dem_win > prediction.rep_win %}Biden{% else %}Trump{% endif %}</span> wins in {% if prediction.dem_win > prediction.rep_win %}{% if prediction.dem_win|floatformat:"0" == "0" %}&lt;1%{% elif prediction.dem_win|floatformat:"0" == "100" %}&gt;99%{% else %}{{ prediction.dem_win|floatformat:"0" }}%{% endif %}{% else %}{% if prediction.rep_win|floatformat:"0" == "0" %}&lt;1%{% elif prediction.rep_win|floatformat:"0" == "100" %}&gt;99%{% else %}{{ prediction.rep_win|floatformat:"0" }}%{% endif %}{% endif %} of model simulations</h1>

<p class="model-updated">Updated {{ prediction.timestamp|date:"SHORT_DATE_FORMAT" }}</p>
{% if not model_update.hidden %}
<p class="alert">
	<!--<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g id="warning_24px">
			<path id="icon/alert/warning_24px" fill-rule="evenodd" clip-rule="evenodd" d="M19.53 20.5037C21.07 20.5037 22.03 18.8337 21.26 17.5037L13.73 4.49374C12.96 3.16375 11.04 3.16375 10.27 4.49374L2.74001 17.5037C1.96999 18.8337 2.93001 20.5037 4.46999 20.5037H19.53ZM12 13.5037C11.45 13.5037 11 13.0537 11 12.5037V10.5037C11 9.95376 11.45 9.50375 12 9.50375C12.55 9.50375 13 9.95376 13 10.5037V12.5037C13 13.0537 12.55 13.5037 12 13.5037ZM11 15.5037V17.5037H13V15.5037H11Z" fill="black"/>
		</g>
	</svg>-->
	<strong>{{model_update.date.month}}/{{model_update.date.day}}/{{model_update.date.year}}:</strong>&nbsp;{{model_update.content}}
</p>
{% endif %}


<div class="map">{% include "core/map.html" %}</div>

<p>The map displays our predictions for the 50 states and DC. Use the buttons to toggle and show each state's influence on the electoral college, and to highlight competitive states. Click on a state to view an in-depth breakdown.</p>

<hr>

<div class="state-picker">
	<script>
	function colorState(id, biden) {
		let paths = document.getElementById(id).contentDocument.getElementsByTagName("path")
		document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].setAttributeNS(null, 'preserveAspectRatio', 'xMidYMid meet')
		document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.x -= document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.width * 0.02
		document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.width *= 1.04
		document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.y -= document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.height * 0.02
		document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.height *= 1.04
		for (let i = 0; i < paths.length; i++) {
			paths[i].style.fill = fillColor(biden/100)
			paths[i].style.stroke = 'black'
			paths[i].style.strokeWidth = 0.02*document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.height+'px'
			paths[i].style.textAlign = 'right'
			paths[i].style.cursor = 'pointer'
			document.getElementById('label'+id).style.top = (paths[i].getBoundingClientRect().y+paths[i].getBoundingClientRect().height)+'px'
		}
	};
	</script>
	<h1>Tossup states</h1>
	<div class="state-collection">
		{% for state in tossups %}
			<a href="/state/{{ state.initials }}/"><object id="{{ state.initials }}" type="image/svg+xml" data="{% static 'core/image/states/'|add:state.initials|add:'.svg' %}" onload="colorState('{{ state.initials }}', {{ state.biden }})"></object><label id="label{{ state.initials }}">{{ state.name }}</label></a>
		{% endfor %}
		{% for state in cd2tossups %}
			<a href="/state/{{ state.initials }}2/"><object id="{{ state.initials }}2" type="image/svg+xml" data="{% static 'core/image/states/'|add:state.initials|add:'.svg' %}" onload="colorState('{{ state.initials }}2', {{ state.biden2 }})"></object><label id="label{{ state.initials }}2">{{ state.name }} CD-2</label></a>
		{% endfor %}
	</div>
	<div>
		<h1 class="picker">All states</h1>
		{% include 'core/stateselect.html' %}
	</div>
	<hr>
</div>

<h1>Chance of winning over time</h1>

{% include 'core/timeseries.html' %}

<hr>

<h1>Electoral vote distribution</h1>

<div class="electoralbar">
	<div class="biden" style="flex-grow: {{ bidenev }}">
		<span class="votes">{{ bidenev }}</span>
		<div class="bar"></div>
	</div>
	<div class="trump" style="flex-grow: {{ trumpev }}">
		<span class="votes">{{ trumpev }}</span>
		<div class="bar"></div>
	</div>
</div>

<p>In our one million simulations, some scenarios played out more frequently than others. Today, our model's scenarios centered around {{ bidenev }} electoral votes for Biden and {{ trumpev }} electoral votes for Trump.</p>

{% include 'core/histogram.html' %}


{% endblock %}
