{% extends 'core/base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 class="model-header"><span class="{% if prediction.dem_win > prediction.rep_win %}blue{% else %}red{% endif %}">{% if prediction.dem_win > prediction.rep_win %}Biden{% else %}Trump{% endif %}</span> wins in {% if prediction.dem_win > prediction.rep_win %}{% if prediction.dem_win|floatformat:"0" == "0" %}&lt;1%{% elif prediction.dem_win|floatformat:"0" == "100" %}&gt;99%{% else %}{{ prediction.dem_win|floatformat:"0" }}%{% endif %}{% else %}{% if prediction.rep_win|floatformat:"0" == "0" %}&lt;1%{% elif prediction.rep_win|floatformat:"0" == "100" %}&gt;99%{% else %}{{ prediction.rep_win|floatformat:"0" }}%{% endif %}{% endif %} of model simulations</h1>

<p class="model-updated">Updated {{ prediction.timestamp|date:"SHORT_DATE_FORMAT" }}</p>

<div class="map">{% include "core/map.html" %}</div>

<p>The map displays our predictions for the 50 states and DC. Use the buttons to toggle a show each states influence on the electoral college, and to highlight competitive states. Click on a state to view an in-depth breakdown.</p>

<hr>

<div class="state-picker">
	<script>
	function colorState(id, biden) {
		let paths = document.getElementById(id).contentDocument.getElementsByTagName("path")
		document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].setAttributeNS(null, 'preserveAspectRatio', 'xMidYMid meet')
		document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.x -= document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.width * 0.02
		document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.width *= 1.04
		document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.y -= document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.height * 0.02
		document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.height *= 1.04
		for (let i = 0; i < paths.length; i++) {
			paths[i].style.fill = fillColor(biden/100)
			paths[i].style.stroke = 'black'
			paths[i].style.strokeWidth = 0.02*document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.height+'px'
			paths[i].style.textAlign = 'right'
			paths[i].style.cursor = 'pointer'
			document.getElementById('label'+id).style.top = (paths[i].getBoundingClientRect().y+paths[i].getBoundingClientRect().height)+'px'
		}
	};
	</script>
	<h1>Tossup states</h1>
	<div class="state-collection">
		{% for state in tossups %}
			<a href="/state/{{ state.initials }}/"><object id="{{ state.initials }}" type="image/svg+xml" data="{% static 'core/image/states/'|add:state.initials|add:'.svg' %}" onload="colorState('{{ state.initials }}', {{ state.biden }})"></object><label id="label{{ state.initials }}">{{ state.name }}</label></a>
		{% endfor %}
		{% for state in cd2tossups %}
			<a href="/state/{{ state.initials }}2/"><object id="{{ state.initials }}2" type="image/svg+xml" data="{% static 'core/image/states/'|add:state.initials|add:'.svg' %}" onload="colorState('{{ state.initials }}2', {{ state.biden2 }})"></object><label id="label{{ state.initials }}2">{{ state.name }}</label></a>
		{% endfor %}
	</div>
	<div>
		<h1 class="picker">All states</h1>
		{% include 'core/stateselect.html' %}
	</div>
	<hr>
</div>

<h1>Chance of winning over time</h1>

{% include 'core/timeseries.html' %}

<hr>

<h1>Electoral vote distribution</h1>

<div class="electoralbar">
	<div class="biden" style="flex-grow: {{ bidenev }}">
		<span class="votes">{{ bidenev }}</span>
		<div class="bar"></div>
	</div>
	<div class="trump" style="flex-grow: {{ trumpev }}">
		<span class="votes">{{ trumpev }}</span>
		<div class="bar"></div>
	</div>
</div>

<p>In our one million simulations, some scenarios played out more frequently than others. Today, our model's scenarios centered around {{ bidenev }} electoral votes for Biden and {{ trumpev }} electoral votes for Trump.</p>

{% include 'core/histogram.html' %}


{% endblock %}
