{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 class="model-header"><span class="red">Trump</span> is favored to win in 60% of model simulations</h1>

<p class="model-updated">Updated 2 hours ago</p>

<div class="map">{% include "core/map.html" %}</div>

<hr>

<h1>Time Series</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium sit eget nam velit mauris vel nisl. Vitae nullam iaculis interdum aliquam. Netus mattis nunc nulla vestibulum mauris commodo. Interdum nisl sapien volutpat pulvinar est porttitor.</p>

{% endblock %}
