{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ state.name }}{% endblock %}

{% block bodycolor %}{% if result == 'trump' %}
body-red
{% elif result == 'biden' %}
body-blue
{% endif %}{% endblock %}

{% block content %}

<div class="state-header">
	<h1><span class="name">{{ state.name }}{% if state.initials == 'NE' %}{% if CD2 %} CD-2{% endif %}{% elif state.initials == 'ME' %}{% if CD2 %} CD-2{% endif %}{% endif %}</span> <span class="votes">{% if state.initials == 'NE' %}{% if CD2 %}1 vote{% else %}4 votes{% endif %}{% elif state.initials == 'ME' %}{% if CD2 %}1 vote{% else %}3 votes{% endif %}{% else %}{{ state.electoral_votes }} votes{% endif %}</span></h1>
	<hr>
</div>

<div class="state-result">
	<div>
		{% if result != 'tossup' %}<h2 class="topline"><span class="candidate {% if result == 'trump' %}red{% else %}blue{% endif %}">{% if result == 'trump' %}Trump{% else %}Biden{% endif %}</span> is favored to win</h2>
		{% else %}<h2 class="topline">We've got a<span class="candidate tossup">tossup</span></h2>
		{% endif %}
		<div class="mobile-wins">
			<div class="trump">
				{% if trump|floatformat:"0" == "0" %}&lt;1%{% elif trump|floatformat:"0" == "100" %}&gt;99%{% else %}{{ trump|floatformat:"0" }}%{% endif %}
				<label>Trump wins</label>
			</div>
			<div class="biden">
				{% if biden|floatformat:"0" == "0" %}&lt;1%{% elif biden|floatformat:"0" == "100" %}&gt;99%{% else %}{{ biden|floatformat:"0" }}%{% endif %}
				<label>Biden wins</label>
			</div>
		</div>
		<div class="mobile-votes">
			<div class="trump">
				{{ trumpv|floatformat }}%
				<label>Pred. vote</label>
			</div>
			<div class="biden">
				{{ bidenv|floatformat }}%
				<label>Pred. vote</label>
			</div>
		</div>
		<script>
			const fillColor = d3.scaleLinear().domain([0, 0.5, 1]).range(["#EF3D3D", "#e6e6e6", "#1B6CE5"])
			function colorSVG() {
				let paths = stateSVG.contentDocument.getElementsByTagName("path")
				stateSVG.contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.x -= stateSVG.contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.width * 0.02
				stateSVG.contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.width *= 1.04
				stateSVG.contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.y -= stateSVG.contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.height * 0.02
				stateSVG.contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.height *= 1.04
				for (let i = 0; i < paths.length; i++) {
					paths[i].style.fill = fillColor({{ biden }}/100)
					paths[i].style.textAlign = 'right'
					paths[i].style.stroke = 'black'
					paths[i].style.strokeWidth = 0.02*stateSVG.contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.height+'px'
				}
			}
		</script>
		<div class="state-stats">
			<object id="stateSVG" type="image/svg+xml" data="{% static 'core/image/states/'|add:state.initials|add:'.svg' %}" onload="colorSVG()"></object>
			<div class="stats">
				<div class="bpi">
					{{ bpi }}
				</div>
				<label class="bpi">BPI</label>
				<div class="avg">
					{{ pollavg }}
				</div>
				<label class="avg">Poll<br>Avg.</label>
			</div>
		</div>
		<script>
		let aspectRatio
		let statesvgload = function () {
			aspectRatio = stateSVG.offsetWidth/stateSVG.offsetHeight
			stateSVG.style.height = document.getElementsByClassName('topline')[0].offsetHeight+'px'
			stateSVG.style.width = document.getElementsByClassName('topline')[0].offsetHeight*aspectRatio+'px'
			stateSVG.style.position = 'static'
			stateSVG.style.visibility = 'visible'
			window.addEventListener('resize', function () {
				stateSVG.style.height = document.getElementsByClassName('topline')[0].offsetHeight+'px'
				stateSVG.style.width = document.getElementsByClassName('topline')[0].offsetHeight*aspectRatio+'px'
			})
		}
		stateSVG.addEventListener('load', statesvgload)
		stateSVG.addEventListener('SVGLoad', statesvgload)
		</script>
	</div>
	<table>
		<tr>
			<th>Candidate</th>
			<th>Predicted Vote %</th>
			<th>Win Prob.</th>
		</tr>
		<tr class="trump">
			<td>Donald Trump</td>
			<td>{{ trumpv|floatformat }}%</td>
			<td>{% if trump|floatformat:"0" == "0" %}&lt;1%{% elif trump|floatformat:"0" == "100" %}&gt;99%{% else %}{{ trump|floatformat:"0" }}%{% endif %}</td>
		</tr>
		<tr class="biden">
			<td>Joe Biden</td>
			<td>{{ bidenv|floatformat }}%</td>
			<td>{% if biden|floatformat:"0" == "0" %}&lt;1%{% elif biden|floatformat:"0" == "100" %}&gt;99%{% else %}{{ biden|floatformat:"0" }}%{% endif %}</td>
		</tr>
	</table>
</div>

<hr>

<h1>About {{ state.name }}</h1>

<p>{{state.description}}</p>

{% if state.initials == 'NE' or state.initials == 'ME' %}<p><em>Note: {{ state.name}} distributes some electoral votes according to the winner of each congressional district. Since the second congressional district votes less consistently with the state as a whole, it was simulated separately in our model. View {% if CD2 %}<a href="/state/{{ state.initials }}/">{{ state.name }}</a>{% else %}<a href="/state/{{ state.initials }}2/">{{ state.name }} CD-2</a>{% endif %}.</em></p>{% endif %}

<hr>

<h1>Chance of winning over time</h1>

{% include 'core/timeseries.html' %}

<hr>

<div class="state-picker">
	<script>
	function colorState(id, biden) {
		let paths = document.getElementById(id).contentDocument.getElementsByTagName("path")
		document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].setAttributeNS(null, 'preserveAspectRatio', 'xMidYMid meet')
		document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.x -= document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.width * 0.02
		document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.width *= 1.04
		document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.y -= document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.height * 0.02
		document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.height *= 1.04
		for (let i = 0; i < paths.length; i++) {
			paths[i].style.fill = fillColor(biden/100)
			paths[i].style.stroke = 'black'
			paths[i].style.strokeWidth = 0.02*document.getElementById(id).contentDocument.getElementsByTagName('svg')[0].viewBox.baseVal.height+'px'
			paths[i].style.textAlign = 'right'
			paths[i].style.cursor = 'pointer'
			document.getElementById('label'+id).style.top = (paths[i].getBoundingClientRect().y+paths[i].getBoundingClientRect().height)+'px'
		}
	};
	</script>
	<h1>Demographically similar states</h1>
	<div class="state-collection">
		{% for state in similar %}
			<a href="/state/{{ state.initials }}/"><object id="{{ state.initials }}" type="image/svg+xml" data="{% static 'core/image/states/'|add:state.initials|add:'.svg' %}" onload="colorState('{{ state.initials }}', {{ state.biden }})"></object><label id="label{{ state.initials }}">{{ state.name }}</label></a>
		{% endfor %}
		{% for state in cd2similar %}
			<a href="/state/{{ state.initials }}2/"><object id="{{ state.initials }}2" type="image/svg+xml" data="{% static 'core/image/states/'|add:state.initials|add:'.svg' %}" onload="colorState('{{ state.initials }}2', {{ state.biden2 }})"></object><label id="label{{ state.initials }}2">{{ state.name }} CD-2</label></a>
		{% endfor %}
	</div>
	<div>
		<h1 class="picker">All states</h1>
		{% include 'core/stateselect.html' %}
	</div>
</div>
<hr>
	<h1>Past Election History</h1>
	{% if CD2 %}
	{% for election in state.pastElections2.all %}
	<div class="poll">
		<div class="poll-info"><a href="{{ poll.url }}">{{ election.year }}</a><span><span class="poll-type">{{ poll.pollType|upper }}</span> <span class="poll-date">{{ poll.end_date|date:"n/j" }}</span></span></div>
		<div class="poll-results">
			<span>{{election.dem_candiate}} <span class="blue">{{ election.percent_dems }}%</span></span>
			<span>{{election.rep_candidate}} <span class="red">{{ election.percent_reps }}%</span></span>
		</div>
	</div>
	{% endfor %}
	{% else %}
	{% for election in state.pastElections.all %}
	<div class="poll">
		<div class="poll-info"><a href="{{ poll.url }}">{{ election.year }}</a><span><span class="poll-type">{{ poll.pollType|upper }}</span> <span class="poll-date">{{ poll.end_date|date:"n/j" }}</span></span></div>
		<div class="poll-results">
			<span>{{election.dem_candiate}} <span class="blue">{{ election.percent_dems }}%</span></span>
			<span>{{election.rep_candidate}} <span class="red">{{ election.percent_reps }}%</span></span>
		</div>
	</div>
	{% endfor %}
	{% endif %}

{% if state.polls.all %}
	<hr>
	<h1>Recent polls</h1>
	{% for poll in state.polls.all|dictsortreversed:"end_date" %}
	{% if poll.cd2 == CD2 %}
	<div class="poll">
		<div class="poll-info"><a href="{{ poll.url }}">{{ poll.pollster }}</a><span><span class="poll-type">{{ poll.pollType|upper }}</span> <span class="poll-date">{{ poll.end_date|date:"n/j" }}</span></span></div>
		<div class="poll-results">
			<span>Biden <span class="blue">{{ poll.percent_biden }}%</span></span>
			<span>Trump <span class="red">{{ poll.percent_trump }}%</span></span>
		</div>
	</div>
	{% endif %}
	{% endfor %}
	<small>Polls consist of LV and RV polls ranked C and above gathered by <a href="https://projects.fivethirtyeight.com/polls/president-general/">FiveThirtyEight</a>.</small>
{% endif %}

{% endblock %}
