<p>We run our model at least once a day. Explore how our prediction has changed over the course of the race.</p>

<div id="chart">
	<div id="yAxis">
		<p>0</p>
		<p>10</p>
		<p>20</p>
		<p>30</p>
		<p>40</p>
		<p>50</p>
		<p>60</p>
		<p>70</p>
		<p>80</p>
		<p>90</p>
		<p>100</p>
	</div>
	<svg id="timeseries">
		<defs>
			<linearGradient id="oracle_gradient" x1="-0.497355" y1="2.17398e-08" x2="-0.497573" y2="378" gradientUnits="userSpaceOnUse">
				<stop stop-color="#1B6CE5"/>
				<stop offset="1" stop-color="#FF2E2E"/>
			</linearGradient>
			<linearGradient id="flipped_gradient" x1="-0.497355" y1="2.17398e-08" x2="-0.497573" y2="378" gradientUnits="userSpaceOnUse">
				<stop stop-color="#FF2E2E"/>
				<stop offset="1" stop-color="#1B6CE5"/>
			</linearGradient>
		</defs>
	</svg>
	<div id="xAxis"></div>
</div>
<p id="endlabel">Nov 3</p>
<p id="datelabel">Oct 12</p>
<script>
function datestring(date) {
	date = date.toLocaleDateString("en-US").split('/')
	return (date[0] === '9' ? 'Sep' : date[0] === '10' ? 'Oct' : date[0] === '11' ? 'Nov' : 'Err') + ' ' + date[1]
}

function draw() {
	let height = timeseries.getBoundingClientRect().height - 20
	let width = timeseries.getBoundingClientRect().width
	bidenline.setAttributeNS(null, 'points', biden.slice(0, day+1).map((p, i) => i*(width / days)+','+((1-p/100) * height + 10)))
	trumpline.setAttributeNS(null, 'points', trump.slice(0, day+1).map((p, i) => i*(width / days)+','+((1-p/100) * height + 10)))
	lightbidenline.setAttributeNS(null, 'points', biden.map((p, i) => i*(width / days)+','+((1-p/100) * height + 10)))
	lighttrumpline.setAttributeNS(null, 'points', trump.map((p, i) => i*(width / days)+','+((1-p/100) * height + 10)))	
	for (let i = 0; i < bars.length; i++) {
		bars[i].setAttributeNS(null, 'points', `0,${height*(i/(bars.length-1)) + 10} ${width - 10},${height*(i/(bars.length-1)) + 10}`)
	}

	let start = new Date('9/1/2020')
	let stop = new Date('11/3/2020')
	xAxis.innerHTML = '<p class="xlabel" id="firstDate">Sep 1</p>'
	let dateOptions = [64, 32, 16, 8, 4, 2, 1, 0]
	let dates = dateOptions.filter(a => width/(firstDate.offsetWidth*2) > a)[0]
	let labelDates = [0]
	for (let i = 1; i < dates; i++) {
		date = datestring(new Date(+start + (stop-start)*i/dates))
		labelDates.push((+new Date(date+', 2020') - +start)/(1000*60*60*24))
		xAxis.innerHTML += `<p class="xlabel">${date}</p>`
	}
	xAxis.innerHTML += '<p class="xlabel">Nov 3</p>'
	labelDates.push(63)

	let labels = document.getElementsByClassName("xlabel")
	for (let i = 0; i < labelDates.length; i++) {
		labels[i].style.left = (labelDates[i]*(width / days) - labels[i].offsetWidth/2)+'px'
	}

	endline.setAttributeNS(null, 'x1', width-3)
	endline.setAttributeNS(null, 'x2', width-3)
	endline.setAttributeNS(null, 'y1', 3)
	endline.setAttributeNS(null, 'y2', height+10)

	dateline.setAttributeNS(null, 'x1', Math.max(3, day*(width / days)))
	dateline.setAttributeNS(null, 'x2', Math.max(3, day*(width / days)))
	dateline.setAttributeNS(null, 'y1', 3)
	dateline.setAttributeNS(null, 'y2', height+10)

	if (trump[day] > biden[day]) {
		dateline.classList.add('flipped')
	} else dateline.classList.remove('flipped')

	endlabel.style.left = Math.round(endline.getBoundingClientRect().x + window.scrollX - endlabel.offsetWidth/2, 3)+'px'
	endlabel.style.top = Math.round(endline.getBoundingClientRect().y + window.scrollY - endlabel.offsetHeight, 3)+'px'

	datelabel.innerText = datestring(new Date((+new Date(start)) + day*24*60*60*1000))
	datelabel.style.left = Math.max(timeseries.getBoundingClientRect().x + window.scrollX, Math.round(dateline.getBoundingClientRect().x + window.scrollX - datelabel.offsetWidth/2, 3))+'px'
	datelabel.style.top = Math.round(dateline.getBoundingClientRect().y + window.scrollY - datelabel.offsetHeight, 3)+'px'

	if ((a => a.x + a.width)(datelabel.getBoundingClientRect()) > endlabel.getBoundingClientRect().x - 10) endlabel.style.display = 'none'

	bidencircle.setAttributeNS(null, 'r', 6.5)
	trumpcircle.setAttributeNS(null, 'r', 6.5)
	bidencircle.setAttributeNS(null, 'cx', Math.max(3, day*(width / days)))
	bidencircle.setAttributeNS(null, 'cy', ((1-biden[day]/100) * height + 10))
	trumpcircle.setAttributeNS(null, 'cx', Math.max(3, day*(width / days)))
	trumpcircle.setAttributeNS(null, 'cy', ((1-trump[day]/100) * height + 10))

	bidenlabel.textContent = 'Biden ' + Math.round(biden[day]) + '%'
	trumplabel.textContent = 'Trump ' + Math.round(trump[day]) + '%'
	if (biden[day] > trump[day] && biden[day] < 90 || trump[day] > 90) {
		bidenlabel.setAttributeNS(null, 'x', Math.max(3, day*(width / days) - bidenlabel.getBoundingClientRect().width - 10))
		bidenlabel.setAttributeNS(null, 'y', Math.max(bidenlabel.getBoundingClientRect().height + 3, ((1-biden[day]/100) * height + 10) - 15))
		trumplabel.setAttributeNS(null, 'x', Math.max(3, day*(width / days) - trumplabel.getBoundingClientRect().width - 10))
		trumplabel.setAttributeNS(null, 'y', Math.min(height+7, ((1-trump[day]/100) * height + 10) + trumplabel.getBoundingClientRect().height + 10))
	} else {
		trumplabel.setAttributeNS(null, 'x', Math.max(3, day*(width / days) - trumplabel.getBoundingClientRect().width - 10))
		trumplabel.setAttributeNS(null, 'y', Math.max(trumplabel.getBoundingClientRect().height + 3, ((1-trump[day]/100) * height + 10) - 15))
		bidenlabel.setAttributeNS(null, 'x', Math.max(3, day*(width / days) - bidenlabel.getBoundingClientRect().width - 10))
		bidenlabel.setAttributeNS(null, 'y', Math.min(height+7, ((1-biden[day]/100) * height + 10) + bidenlabel.getBoundingClientRect().height + 10))
	}
}

let biden = {{ timeseries.biden }}
let trump = {{ timeseries.trump }}
let days = 64;
let day = biden.length - 1;

let bars = []
for (let i = 0; i < 11; i++) {
	bars.push(document.createElementNS("http://www.w3.org/2000/svg", "polyline"))
	bars[i].classList.add("dashed")
	timeseries.appendChild(bars[i])
}

let endline = document.createElementNS("http://www.w3.org/2000/svg", "line")
let dateline = document.createElementNS("http://www.w3.org/2000/svg", "line")
endline.classList.add("endline")
dateline.classList.add("dateline")
timeseries.appendChild(endline)
timeseries.appendChild(dateline)


let lightbidenline = document.createElementNS("http://www.w3.org/2000/svg", "polyline")
let lighttrumpline = document.createElementNS("http://www.w3.org/2000/svg", "polyline")
lightbidenline.classList.add('lightbidenline')
lighttrumpline.classList.add('lighttrumpline')
timeseries.appendChild(lightbidenline)
timeseries.appendChild(lighttrumpline)

let bidenline = document.createElementNS("http://www.w3.org/2000/svg", "polyline")
let trumpline = document.createElementNS("http://www.w3.org/2000/svg", "polyline")
bidenline.classList.add('bidenline')
trumpline.classList.add('trumpline')
timeseries.appendChild(bidenline)
timeseries.appendChild(trumpline)

let bidencircle = document.createElementNS("http://www.w3.org/2000/svg", "circle")
let trumpcircle = document.createElementNS("http://www.w3.org/2000/svg", "circle")
bidencircle.classList.add('bidencircle')
trumpcircle.classList.add('trumpcircle')
timeseries.appendChild(bidencircle)
timeseries.appendChild(trumpcircle)

let bidenlabel = document.createElementNS("http://www.w3.org/2000/svg", "text")
let trumplabel = document.createElementNS("http://www.w3.org/2000/svg", "text")
bidenlabel.classList.add('bidenlabel')
trumplabel.classList.add('trumplabel')
timeseries.appendChild(bidenlabel)
timeseries.appendChild(trumplabel)

let prevOffsetX = 500
timeseries.addEventListener('mousemove', function (e) {
	day = Math.min(biden.length-1, Math.round((e.clientX - timeseries.getBoundingClientRect().x)*days/timeseries.getBoundingClientRect().width))
	draw()
})

timeseries.addEventListener('load', draw)
timeseries.addEventListener('SVGLoad', draw)
window.addEventListener('resize', draw)
</script>
