@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

@import 'vars.scss';
@import 'map.scss';

* {
	font-family: 'Rubik', sans-serif;
	font-weight: inherit;
}

html, body {
	padding: 0;
	margin: 0;
	font-weight: 300;
}

body {
	background: linear-gradient(108.09deg, rgba(27, 108, 229, 0.7) 0%, rgba(89, 91, 179, 0.7) 20.83%, rgba(202, 61, 89, 0.7) 80.21%, rgba(255, 46, 46, 0.7) 100%);
}

.body-blue {
	background: linear-gradient(108.09deg, rgba(27, 108, 229, 0.7) 0%, rgba(120, 157, 211, 0.7) 62.5%, rgba(120, 157, 211, 0.7) 100%);
}

.body-red {
	background: linear-gradient(108.09deg, rgba(255, 46, 46, 0.7) 0%, rgba(255, 137, 137, 0.7) 100%);
}

nav a {
	text-decoration: none;
	color: inherit;
}

nav ul.desktop {
	background-color: white;
	padding: 0;
	margin: 0;
	list-style-type: none;

	display: flex;
	margin-bottom: 1em;
	padding: 0.75em 1em;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

	li.nav-logo {
		margin-right: auto;
	}

	li {
		display: flex;
		align-items: center;
		padding-right: 1em;
		font-weight: 500;
		font-size: 1.2em;

		&:last-child {
			padding-right: 0;
		}
	}

	li.hamburger {
		display: none;
		cursor: pointer;
	}

	li.active {
		background: $gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	@media only screen and (max-width: 900px) {
		li.nav-logo img {
			height: 2rem;
		}

		height: 40px;
	}

	@media only screen and (max-width: 750px) {
		li {
			display: none;
		}

		li.nav-logo, li.hamburger {
			display: flex;
		}
	}

	object.twitter {
		height: 1.5em;
		pointer-events: none;
	}
}

.mobile-nav {
	z-index: 100;
	background-color: white;
	height: 100%;
	position: fixed;
	width: 14em;
	right: calc(-14em - 10px);
	transition: right 0.2s ease-in;
	top: 0;
	box-shadow: $shadow;

	header {
		display: flex;
		align-items: center;
		padding-right: 1rem;
		padding: 0.75rem 1rem;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

		svg {
			cursor: pointer;
		}

		h2 {
			margin: 0 auto 0 0;
			font-weight: 500;
			height: 40px;
			line-height: 40px;
		}
	}

	ul.mobile {
		padding: 0;
		margin: 0;
		list-style-type: none;

		margin: 0 1em;

		li {
			font-weight: 500;
			padding-top: 1em;
			font-size: 1.2em;
			margin-right: auto;
		}

		li.active a {
			background: $gradient;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	img {
		position: absolute;
		bottom: 0;
		width: calc(100% - 2em);
		margin: 1em;
	}

	&.active {
		right: 0;
	}

	object.twitter {
		position: relative;
		height: 1.25em;
		vertical-align: bottom;
		margin-left: 0.1em;
		pointer-events: none;
	}

	display: none;
	@media only screen and (max-width: 750px) {
		display: block;
	}
}

main {
	display: grid;
	margin: 2em;

	@media only screen and (max-width: 900px) {
		margin: 1em;
	}

	.sidebar {
		grid-column: 1;
		position: sticky;
		top: 2rem;
		width: calc(15em - 3em);
		background-color: white;
		box-shadow: $shadow;
		border-radius: 10px;
		padding: 2em 1.5em;
		margin-bottom: auto;

		img {
			width: 100%;
			margin-bottom: 1.5em;
		}

		@media only screen and (max-width: 1200px) {
			display: none;
		}
	}

	.footer {
		grid-column: 3;
		width: 15em;
		color: white;
		font-weight: 500;
		justify-content: flex-end;
		display: flex;
		flex-direction: column;

		h1, h3, p {
			margin: 0;
			span {
				display: block;
				font-size: 2em;
				font-weight: 700;
			}
		}

		h3 {
			margin-top: 0.5rem;
		}

		p {
			font-size: 0.8em;
			margin-top: 0.5em;
		}

		@media only screen and (max-width: 1200px) {
			margin-top: 1.5em;
			grid-column: 2;
			grid-row: 2;
			width: auto;

			.footer-columns {
				display: flex;
				flex-direction: row;

				div:first-child {
					margin-right: 1em;
				}

				div {
					flex-grow: 1;
					flex-basis: 0;
				}
			}
		}
	}

	.content {
		grid-column: 2;
		flex-grow: 1;
		background-color: white;
		box-shadow: $shadow;
		border-radius: 10px;
		margin: 0 2em;
		padding: 2em;

		hr {
			background: $gradient;
			height: 4px;
			border: none;
			opacity: 25%;
			margin: 2em 0;
		}

		h1 {
			font-weight: 500;
		}

		@media only screen and (max-width: 1200px) {
			margin: 0;
		}
	}
}

h1.model-header {
	text-transform: uppercase;
	font-weight: 500;
	font-style: italic;
	margin: 0;
	font-size: 3em;
	text-align: center;

	.red, .blue { font-weight: 700; }
	.red { color: $red; }
	.blue { color: $blue; }
}

p.model-italic {
	text-transform: uppercase;
	font-weight: 500;
	font-style: italic;
	margin: 0;
	font-size: 2em;

	.red, .blue { font-weight: 700; }
	.red { color: $red; }
	.blue { color: $blue; }
}

p.model-updated {
	text-transform: uppercase;
	text-align: center;
	color: #AAAAAA;
	font-weight: 500;
	margin-bottom: 0;
}
