@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

@import 'vars.scss';
@import 'map.scss';

* {
	font-family: 'Rubik', sans-serif;
	font-weight: inherit;
}

html, body {
	padding: 0;
	margin: 0;
	font-weight: 300;
}

body {
	background: linear-gradient(108.09deg, rgba(27, 108, 229, 0.7) 0%, rgba(89, 91, 179, 0.7) 20.83%, rgba(202, 61, 89, 0.7) 80.21%, rgba(255, 46, 46, 0.7) 100%);
}

.body-blue {
	background: linear-gradient(108.09deg, rgba(27, 108, 229, 0.7) 0%, rgba(120, 157, 211, 0.7) 62.5%, rgba(120, 157, 211, 0.7) 100%);
}

.body-red {
	background: linear-gradient(108.09deg, rgba(255, 46, 46, 0.7) 0%, rgba(255, 137, 137, 0.7) 100%);
}

nav a {
	text-decoration: none;
	color: inherit;
}

nav ul.desktop {
	background-color: white;
	padding: 0;
	margin: 0;
	list-style-type: none;

	display: flex;
	margin-bottom: 1em;
	padding: 0.75em 1em;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

	li.nav-logo {
		margin-right: auto;
	}

	li {
		display: flex;
		align-items: center;
		padding-right: 1em;
		font-weight: 500;
		font-size: 1.2em;

		&:last-child {
			padding-right: 0;
		}
	}

	li.hamburger {
		display: none;
		cursor: pointer;
	}

	li.active {
		background: $gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	@media only screen and (max-width: 900px) {
		li.nav-logo img {
			height: 2rem;
		}

		height: 40px;
	}

	@media only screen and (max-width: 750px) {
		li {
			display: none;
		}

		li.nav-logo, li.hamburger {
			display: flex;
		}
	}

	object.twitter {
		height: 1.5em;
		pointer-events: none;
	}
}

.mobile-nav {
	z-index: 100;
	background-color: white;
	height: 100%;
	position: fixed;
	width: 14em;
	right: calc(-14em - 10px);
	transition: right 0.2s ease-in;
	top: 0;
	box-shadow: $shadow;

	header {
		display: flex;
		align-items: center;
		padding-right: 1rem;
		padding: 0.75rem 1rem;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

		svg {
			cursor: pointer;
		}

		h2 {
			margin: 0 auto 0 0;
			font-weight: 500;
			height: 40px;
			line-height: 40px;
		}
	}

	ul.mobile {
		padding: 0;
		margin: 0;
		list-style-type: none;

		margin: 0 1em;

		li {
			font-weight: 500;
			padding-top: 1em;
			font-size: 1.2em;
			margin-right: auto;
		}

		li.active a {
			background: $gradient;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	img {
		position: absolute;
		bottom: 0;
		width: calc(100% - 2em);
		margin: 1em;
	}

	&.active {
		right: 0;
	}

	object.twitter {
		position: relative;
		height: 1.25em;
		vertical-align: bottom;
		margin-left: 0.1em;
		pointer-events: none;
	}

	display: none;
	@media only screen and (max-width: 750px) {
		display: block;
	}
}

div.mobile-state-picker {
	display: none;
	@media only screen and (max-width: 1200px) {
		display: block;
	}
}

main {
	display: grid;
	grid-template-columns: auto 1fr auto;
	margin: 2em;

	@media only screen and (max-width: 900px) {
		margin: 1em;
	}

	.sidebar {
		grid-column: 1;
		position: sticky;
		top: 2rem;
		width: calc(15em - 3em);
		background-color: white;
		box-shadow: $shadow;
		border-radius: 10px;
		padding: 2em 1.5em;
		margin-bottom: auto;

		img {
			width: 100%;
			margin-bottom: 1.5em;
		}

		@media only screen and (max-width: 1200px) {
			display: none;
		}
	}

	.footer {
		grid-column: 3;
		width: 15em;
		color: white;
		font-weight: 500;
		justify-content: flex-end;
		display: flex;
		flex-direction: column;

		h1, h3, p {
			margin: 0;
			span {
				display: block;
				font-size: 2em;
				font-weight: 700;
			}
		}

		h3 {
			margin-top: 0.5rem;
		}

		p {
			font-size: 0.8em;
			margin-top: 0.5em;
		}

		@media only screen and (max-width: 1200px) {
			margin-top: 1.5em;
			grid-column: 2;
			grid-row: 2;
			width: auto;

			.footer-columns {
				display: flex;
				flex-direction: row;

				div:first-child {
					margin-right: 1em;
				}

				div {
					flex-grow: 1;
					flex-basis: 0;
				}
			}
		}
	}

	.content {
		grid-column: 2;
		background-color: white;
		box-shadow: $shadow;
		border-radius: 10px;
		margin: 0 2em;
		padding: 2em;

		hr {
			background: $gradient;
			height: 4px;
			border: none;
			opacity: 25%;
			margin: 2em 0;
		}

		h1 {
			font-weight: 500;
		}

		@media only screen and (max-width: 1200px) {
			margin: 0;
		}
	}
}

h1.model-header {
	text-transform: uppercase;
	font-weight: 500;
	font-style: italic;
	margin: 0;
	font-size: 3em;
	text-align: center;

	.red, .blue { font-weight: 700; }
	.red { color: $red; }
	.blue { color: $blue; }
}

p.model-italic {
	text-transform: uppercase;
	font-weight: 500;
	font-style: italic;
	margin: 0;
	font-size: 2em;

	.red, .blue { font-weight: 700; }
	.red { color: $red; }
	.blue { color: $blue; }
}

p.model-updated {
	text-transform: uppercase;
	text-align: center;
	color: #AAAAAA;
	font-weight: 500;
	margin-bottom: 0;
}

div.select {
	background: $gradient;
	display: inline-block;
	border-radius: 13.5px;
	padding: 3px;
}

.sidebar .select, .sidebar select {
	width: 100%;
}

select {
	font-weight: 500;
	-moz-appearance: window;
	-webkit-appearance: none;
	background-image: url('data:image/svg+xml,<svg width="17" height="11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.3807 4.49093L8.97017 9.90142c-.81471.81468-2.13078.81468-2.94549 0L.614189 4.49093C-.701878 3.17486.23817.918748 2.09737.918748H12.9184c1.8592 0 2.7783 2.256112 1.4623 3.572182z" fill="black"/></svg>');
	background-repeat: no-repeat;
	background-position: center right 8px;
	background-size: 0.6em;
	font-size: 1.2em;
	border: none;
	border-radius: 10px;
	background-color: #f1f1f1;
	padding: 0.3em 1.5em 0.3em 0.4em;
}

form {
	margin: 0;
}

main .content .state-header {
	h1 {
		display: flex;
		margin-top: 1rem;
		margin-bottom: 2rem;
		font-size: 2em;
		font-weight: 300;
		line-height: 1.1;
		white-space: nowrap;
		align-items: baseline;

		span {
			font-size: 1.5em;
			font-weight: 500;
			margin-right: auto;
			padding-right: 2rem;
			white-space: normal;
		}

		@media only screen and (max-width: 750px) {
			font-size: 1.5em;
			span {
				font-size: 1.4em;
			}
		}
	}

	hr {
		margin-top: 0;
	}
}

main .content .state-result {
	table {
		width: 100%;

		@media only screen and (max-width: 750px) {
			display: none;
		}

		th {
			padding-bottom: 0.2em;
			color: #8a8a8a;
			text-transform: uppercase;
			font-weight: 400;
			text-align: left;

			&:last-child {
				text-align: right;
			}
		}

		td {
			padding-top: 0.2em;
			font-size: 2em;
			font-weight: 400;

			&:first-child {
				font-weight: 500;
			}

			&:last-child {
				font-weight: 500;
				text-align: right;
			}
		}

		tr.trump td:last-child {
			color: $red;
		}

		tr.biden td:last-child {
			color: $blue;
		}
	}

	& > div {
		display: flex;
		position: relative;
		margin-bottom: 2vw;
		justify-content: space-between;
		.topline {
			margin: auto 0 auto 0;
			font-size: 2.5vw;
			text-transform: uppercase;
			font-style: italic;
			font-weight: 500;
			.candidate {
				font-size: 2.5em;
				display: block;
				line-height: 0.9;
			}
			.blue {
				color: $blue;
			}
			.red {
				color: $red;
			}
		}

		& > div {
			display: block;
			text-align: right;
			flex-grow: 1;
			white-space: nowrap;
		}

		object {
			display: inline-block;
			height: 100%;
			margin: 0 2rem;
		}

		.stats {
			font-size: 2.5vw;
			font-weight: 500;
			color: #333333;
			vertical-align: text-bottom;
			height: 100%;

			display: inline-grid;
			grid-template-columns: 1fr min-content;
			grid-template-rows: 1fr 1fr;

			div {
				margin-top: auto;
				margin-bottom: auto;
				text-align: right;
			}

			label {
				color: #8b8b8b;
				margin-left: 0.5em;
				text-transform: uppercase;
				margin-top: auto;
				margin-bottom: auto;
				font-size: 0.5em;
				text-align: left;
			}
		}

		@media only screen and (min-width: 1201px) and (max-width: 1500px) {
			.stats, .topline {
				font-size: 1.8vw;
			}
		}

		@media only screen and (max-width: 1200px) {
			.stats, .topline {
				font-size: 3.5vw;
			}
		}

		@media only screen and (max-width: 750px) {
			display: block;

			.topline {
				font-size: 2em;
			}

			& > div {
				margin-top: 1.5em;
				display: grid;
				grid-template-columns: 1fr 1fr;
			}

			object {
				display: block;
				margin-right: 1em;
				margin-left: auto;
			}

			.stats {
				font-size: 2em;
				margin-right: auto;
			}
		}
	}
}

#chart {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	margin-right: 2em;

	#yAxis {
		grid-row-start: 1;
		grid-row-end: 1;
		grid-column-start: 1;
		grid-column-end: 1;
		margin-right: 1em;
		margin-top: 2em;
		text-align: right;
		display: flex;
		flex-direction: column-reverse;

		justify-content: space-between;

		p {
			margin: 0;
		}
	}

	#xAxis {
		margin-top: 1em;
		position: relative;
		grid-row-start: 2;
		grid-row-end: 2;
		grid-column-start: 2;
		grid-column-end: 2;
		p {
			margin: 0;
			position: absolute;
			white-space: nowrap;
		}
	}

	#timeseries {
		width: 100%;
		height: 25em;
		grid-row-start: 1;
		grid-row-end: 1;
		grid-column-start: 2;
		grid-column-end: 2;
		margin-right: 2em;
		margin-top: 2em;

		polyline, line {
			fill: none;
			stroke-width: 3;

			&.bidenline {
				stroke: $blue;
			}

			&.trumpline {
				stroke: $red;
			}

			&.lightbidenline {
				stroke: $blue;
				stroke-opacity: 0.5;
			}

			&.lighttrumpline {
				stroke: $red;
				stroke-opacity: 0.5;
			}

			&.dashed {
				stroke: black;
				stroke-dasharray: 1 5;
				stroke-width: 1px;
				stroke-linecap: round;
			}

			&.endline {
				stroke-width: 3px;
				stroke-linecap: round;
				stroke: rgba(51, 51, 51, 0.35);
			}

			&.dateline {
				stroke-width: 3px;
				stroke-linecap: round;
				stroke: url(#oracle_gradient);
				stroke-opacity: 0.5;
			}
		}

		.bidencircle {
			fill: $blue;
		}

		.trumpcircle {
			fill: $red;
		}

		.bidenlabel, .trumplabel {
			fill: $blue;
			stroke: white;
			stroke-width: 5px;
			paint-order: stroke;
			font-weight: 500;
			font-size: 20px;
		}

		.trumplabel {
			fill: $red;
		}
	}
}

#endlabel {
	position: absolute;
	margin: 0;
	padding-bottom: 0.5em;
	color: rgba(51, 51, 51, 0.35);
	font-weight: 500;
	font-size: 1.4rem;
}

#datelabel {
	position: absolute;
	margin: 0;
	padding-bottom: 0.5em;
	font-weight: 500;
	font-size: 1.4rem;
	background: linear-gradient(90deg, #1B6CE5 0%, #FF2E2E 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
